<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MessageDisplayExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MessageDisplayFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>74180BD5190F447100A35C82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74180BE4190F447100A35C82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74180CB9190F526100A35C82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>748245001908C730008EC388</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7482451B1908C730008EC388</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
